In [1]:
import keras
from keras.models import Sequential
from keras.layers import Dense
import pandas as pd
import numpy as np

Using TensorFlow backend.

In [2]:
from google.colab import files
uploaded = files.upload()

Saving Social_Network_Ads.csv to Social_Network_Ads (3).csv

In [3]:
import io
df = pd.read_csv(io.BytesIO(uploaded['Social_Network_Ads.csv']))

In [4]:
print(df.shape)
df.head(10)

(400, 5)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0
5  15728773    Male   27            58000          0
6  15598044  Female   27            84000          0
7  15694829  Female   32           150000          1
8  15600575    Male   25            33000          0
9  15727311  Female   35            65000          0

In [5]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [6]:
df['Gender'] = df['Gender'].replace({'Male': 1, 'Female': 0})

In [7]:
X = df.iloc[:, df.columns != 'Purchased']

In [8]:
X.head()

    User ID  Gender  Age  EstimatedSalary
0  15624510       1   19            19000
1  15810944       1   35            20000
2  15668575       0   26            43000
3  15603246       0   27            57000
4  15804002       1   19            76000

In [9]:
y = np.array(df['Purchased'])
y = y.reshape(-1, 1)

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25)

In [11]:
print(X_train.shape, X_test.shape)

(300, 4) (100, 4)

In [12]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [16]:
model = Sequential()

# Enter input layer
model.add(Dense(10, input_shape = (4,), name = 'Input'))

# Enter hidden layer 1
model.add(Dense(60, activation = 'relu', name = 'Dense_1'))

# Enter hidden layer 2
model.add(Dense(60, activation = 'relu', name = 'Dense_2'))

# Enter output layer
model.add(Dense(5, activation = 'softmax', name = 'Predictions'))

In [17]:
model.compile(loss = keras.losses.SparseCategoricalCrossentropy(),
              optimizer = keras.optimizers.Adam(learning_rate=0.01),
              metrics = [keras.metrics.SparseCategoricalAccuracy()])

In [18]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
Input (Dense)                (None, 10)                50
_________________________________________________________________
Dense_1 (Dense)              (None, 60)                660
_________________________________________________________________
Dense_2 (Dense)              (None, 60)                3660
_________________________________________________________________
Predictions (Dense)          (None, 5)                 305
=================================================================
Total params: 4,675
Trainable params: 4,675
Non-trainable params: 0
_________________________________________________________________

In [19]:
model.fit(X_train, y_train, batch_size = 64, epochs = 20, verbose = 2)

Epoch 1/20
 - 0s - loss: 1.0857 - sparse_categorical_accuracy: 0.6633
Epoch 2/20
 - 0s - loss: 0.3597 - sparse_categorical_accuracy: 0.8533
Epoch 3/20
 - 0s - loss: 0.3211 - sparse_categorical_accuracy: 0.8800
Epoch 4/20
 - 0s - loss: 0.2794 - sparse_categorical_accuracy: 0.8667
Epoch 5/20
 - 0s - loss: 0.2677 - sparse_categorical_accuracy: 0.8867
Epoch 6/20
 - 0s - loss: 0.2506 - sparse_categorical_accuracy: 0.8967
Epoch 7/20
 - 0s - loss: 0.2168 - sparse_categorical_accuracy: 0.9167
Epoch 8/20
 - 0s - loss: 0.2048 - sparse_categorical_accuracy: 0.9233
Epoch 9/20
 - 0s - loss: 0.1976 - sparse_categorical_accuracy: 0.9267
Epoch 10/20
 - 0s - loss: 0.1966 - sparse_categorical_accuracy: 0.9333
Epoch 11/20
 - 0s - loss: 0.2013 - sparse_categorical_accuracy: 0.9200
Epoch 12/20
 - 0s - loss: 0.1866 - sparse_categorical_accuracy: 0.9300
Epoch 13/20
 - 0s - loss: 0.1833 - sparse_categorical_accuracy: 0.9300
Epoch 14/20
 - 0s - loss: 0.1827 - sparse_categorical_accuracy: 0.9333
Epoch 15/20
 - 0s - loss: 0.1752 - sparse_categorical_accuracy: 0.9333
Epoch 16/20
 - 0s - loss: 0.1731 - sparse_categorical_accuracy: 0.9367
Epoch 17/20
 - 0s - loss: 0.1730 - sparse_categorical_accuracy: 0.9267
Epoch 18/20
 - 0s - loss: 0.1876 - sparse_categorical_accuracy: 0.9233
Epoch 19/20
 - 0s - loss: 0.1799 - sparse_categorical_accuracy: 0.9167
Epoch 20/20
 - 0s - loss: 0.1803 - sparse_categorical_accuracy: 0.9200

In [22]:
model.evaluate(X_test, y_test, batch_size = 64)

100/100 [==============================] - 0s 210us/step

[0.3827346658706665, 0.8899999856948853]

In [23]:
y_pred = model.predict(X_test)

In [28]:
print("X=%s, Predicted=%s" % (X_test[1], y_test[0]))

X=[-1.40110523 -0.98675438  1.08890815 -0.9523889 ], Predicted=[0]